@function p($pxOne, $pxTwo) {
    $result: ($pxOne / $pxTwo) * 100%;
    @return $result;
}

@function r($px) {
    $result: ($px / 16) + rem;
    @return $result;
}

@function e($px) {
    $result: ($px / 16) + em;
    @return $result;
}

@function af($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidthContainer - 375;
    $addSizeAfter: $addSize * (100vw - 320px);
    $Pizdec: $addSizeAfter / $maxWidth;
    $result: ($mobSize + px) + $Pizdec;

    @return $result;
}


@function af($pcSize, $mobSize) {
    $result: ($mobSize + px) + ((($pcSize - $mobSize) * (100vw - 320px)) / ($maxWidthContainer - 375));

    @return $result;
}


////////////

// @mixin adaptiv-font($pcSize, $mobSize) {
//     $addSize: $pcSize - $mobSize;
//     $addMobSize: $addSize + $addSize * 0.7;
//     @media (max-width: 767px) {
//         font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
//     }
//     @media (min-width: 767px) {
//         font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
//     }
// }

// @mixin af($pcSize, $mobSize) {
//     $addSize: $pcSize - $mobSize;
//     $maxWidth: $maxWidth - 320;
//     font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
// }
