$maxWidthContainer: 1350px;
$maxWidth: 1440px;

$small-screen: 768px;
$medium-screen: 992px;
$large-screen: 1350px;

// @media (max-width: $small-screen) {
//   // Ваши стили для экранов менее 768px ширины
// }

// @media (min-width: $small-screen) and (max-width: $medium-screen) {
//   // Ваши стили для экранов от 768px до 992px ширины
// }

// @media (min-width: $medium-screen) and (max-width: $large-screen) {
//   // Ваши стили для экранов от 992px до 1200px ширины
// }

// @media (min-width: $large-screen) {
//   // Ваши стили для экранов шире 1200px
// }